<link rel="stylesheet" href="/css/product.style.css" />
<link rel="stylesheet" href="/css/carts.style.css" />
<div class="main-container">
	<div id="custom-target"></div>
	<div class="cart-main-container">
		<div class="list-header">
			<div class="list-title">
				<a href="/">Productos </a>
				/ Carritos
			</div>
			<div class="profile-header">
				<div class="greeting-container">
					<p class="profile-greeting">Hola,
						<span class="profile-user-name"> {{user.first_name}}</span>
					</p>
				</div>
				<div class="profile-icons">
					<a
						title="Ver perfil"
						class="profile-view profile-icon"
						href="/profile"
						alt="View profile"
					>
						<i class="fas fa-user fa-lg"></i>
					</a>
					<a
						title="Salir"
						id="{{user.email}}"
						class="profile-logout profile-icon"
						href="/logout"
						alt="Logout"
					>
						<i class="fas fa-sign-out-alt fa-lg"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="list-container">
			<div class="cart-products-container">
				{{#each carts}}
					<div class="product-card" id={{this._id}}>
						<div class="product-card-header">
							<div class="product-card-details">
								Cart ID:
								{{this._id}}
							</div>
						</div>
						<div class="product-list">
							{{#each this.products}}
								<div class="product">
									<div class="product-title">
										{{this.product.title}}
									</div>
									<div class="product-quantity">
										{{this.quantity}}
									</div>
								</div>
							{{else}}
								<div class="no-image">Sin productos</div>
							{{/each}}
						</div>
						<div class="product-card-body">
						</div>
						<div class="product-card-footer">
							<div class="product-card-total"></div>
						</div>
					</div>
				{{else}}
					<div class="no-products">No se encontraron carritos.</div>
				{{/each}}
			</div>
			<div class="footer">
				{{#if products}}
					<div class="cart-total-price-container">
						<div class="cart-total-price-label"> Total:</div>
						<div class="cart-total-price">
							$&nbsp;<div class="cart-total-price-value">
								{{formatNumber totalPrice}}
							</div>
						</div>
					</div>
					<div class="purchase-buttons">
						<div class="cancel-btn">
							<a href="/" class="btn btn-dark-blue large-btn">
								<i class="fas fa-arrow-left"></i>
								&nbsp;Volver
							</a>
						</div>
						<div class="purchase-btn btn large-btn add-btn">
							<i class="fas fa-credit-card"></i>
							&nbsp;Finalizar
						</div>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>
<script src="/js/carts.js"></script>